# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/

# Node
node_modules/
.next/
out/

# Env
.env
.env.*
!.env.example

# OS/editor
.DS_Store
.vscode/
.idea/

# Docker volumes
postgres_data/
